{% load static %}
<!DOCTYPE html>

<head>
    <style>
        .xyz{
          margin-bottom: 0px;
          background-image: url('{% static "image/background.png" %}');
          background-size: cover;
          background-repeat: no-repeat;
        }
      </style>
      
</head>


<body>
  {% include "blood/navbar.html" %}
<br>
<section id="section-jumbotron" style="margin-bottom: 0px;" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center xyz">
    <div class="container text-center">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
     
      
      <br><br><br><br>
      
    </div>  
  </section>


  <div class="jumbotron" style="margin-top: 0px;margin-bottom: 0px;">

    <p class="lead text-center">"Do good for others by giving from what you have. Surely, it will come back to you with greater value - donate blood"
      </p>
    
    <p class="text-center">Gaurav Ankita Swastika</p>
    
  </div>
  {% include "blood/footer.html" %}


</body>

</html>
